@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

header {
    background-color: #ff5a34
}


body {
    padding: 0px;
    margin: 0px
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto
}

main {
    padding: 16px;
    padding-bottom: 30px;
    font-family: 'Gloock', serif;
}

h1 {
    color: #146152;
}

.link-external {
    color: white
}

.link-internal {
    color: #146152
}

tr:nth-child(even) {
    background-color: lightgray;
}

footer {
    background-color: #b5d066;
    font-family: 'Gloock', serif;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 0px;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px black;
    padding: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(17, 213, 17);
}
